<form action="TaskList" method="post">
    <input type="text" name="Description"/>
    <input type="date" name="DueDate"/>
    <input type="checkbox" name="Completed" />
    <input type="submit"/>
</form>

