<form action="~/Home/AddTask" method="post">
    Description <input type="text" name="Description"/>
    Due Date <input type="date" name="DueDate"/>
    Completed <input type="checkbox" name="Completed" />
    <input type="submit"/>
</form>

